body {
    width: 1400px;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"] {
    width: 1170px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #F9F9F9;
}

.header__logo_img {
    display: block;
    background-image: url(../assets/images/logo.png);
    width: 70px;
    height: 45px;
    margin-right: 20px;
}

.header__nav {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding-left: 0px;

}

.header__nav>li {
    margin-left: 15px;

}

.navlink {
    text-decoration: none;
    color: #32495E;
}

.main__conteiner {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 143px;
}

.mainleft__img {
    float: left;
    width: 395px;
    height: 557px;

}

.mainleft__caption {
    text-align: start;
}

.mainright__img {
    float: right;
}